body {
    margin: 0;
    padding: 0;
    background: url('https://raw.githubusercontent.com/janish123/Project-0/main/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    height: 100vh;
   filter: brightness(100%);
    zoom: 160%;
  }
  
 
